:root {
    /* rootの中に置くことで全体に適用（navとかにしてしまうとその中でしか使えない）
    valid --special-color --specialcolor --specialColor 
    invaid --special color (スペースがダメ) この名前でカラーを呼び出せる*/
    --special-color: tomato;
    --second-color: #551CF1;
    --light-color: white;
    --dark-color: black;
}

/* . is for class selector */
.container {
    max-width: 900px;
    margin:0 auto;
}
/* space is descendent selector */
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* space is descendent selector */
/* flex-grow : 1;    ➜ The div will grow in same proportion as the window-size       
flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                     take up screen as per the screen size available for
                     e.g:- if 3 divs are in the wrapper then each div will take 33%. */
nav ul li {
    flex: 1;
}
/* > is child combinator */
main > p{
    font-size: 1.25rem;
}
/* + is adjacent combinator 直後にくる2つ目の要素が、同じ親要素の子であるとき使う 
この場合、h2のあとのpに適用したい。2こめのpにてきようしたければ　p+p とかく
見出しに続く段落で何かを行うこと*/
h2 + p{
    background-color: black;
    color: var(--second-color);
    padding: 1rem;
}

/* ~ is sibiling combinator  
一般兄弟結合子 (general sibling combinator, ~) は 2 個のセレクターを結びつけ、 1 つ目の要素の後に 2 つ目の要素のがあり（直後である必要はない）、かつ両者が同じ親要素の子であるすべてのパターンに一致*/
.stars span:hover ~ span {
    opacity: .5;
}
/* .stars は[class=stars]と書くのとおんなじ */

/* [] is attribute selector */
a[href="#"]{
  color: tomato;
}
/*参考 https://gray-code.com/html_css/hierarchy-of-css-selector/ */
a[href^="http"] {
    border-left: 4px solid #551CF1;
}

/* State related pseudo classes */
nav a,
nav a:link,
nav a:visited {
   display: inline-block;
   text-decoration: none;
   text-transform: uppercase;
   transition: transform .5s; 
   /* ↑これをいつも付けたほうが良い,ボタンにさわったことがわかりやすいので */
}

nav a:hover,
nav a:focus{
    text-decoration: underline;
    transform: scale(1.4);
}
nav a:active{
    transform: scale(1.4) translateX(10px);
}

/* pseudo elements */
a[href$=".pdf"]::after{
    content:"\2913";
    font-size: 1.25rem;
    color: tomato;
}

h2+p::first-line{
    color:tomato;
}
/* これらの機能はクラスとかdivを細かくつけたくないときに使える */
h3+p::first-letter{
    background-color: #551CF1;
    color:white;
    padding: .25rem;
    margin-right: .10rem;
}